/* Experience css*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background: #f9f9f9;
  background-image: url("images/lovepinkwall.jpg"); /* Path to your GIF */
}

@font-face {
  font-family: myFont;
  src: url("fonts/Tropi Land - (Demo) hanscostudio.com.ttf");
}
@font-face {
  font-family: secFont;
  src: url("fonts/Yaelah.ttf");
}

.center-text {
  text-align: center;
  margin-top: 20px;
  }

/* Header */
header {
  width: 97vw;
  height: 60vh;
  background-image: url("images/experience\ header.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 100px;
}

.back-home {
  position: absolute;
  top: 0px;
  left: 27px;
  margin: 10px;
  background-color: #ecbcd8;
  border-color: #ecbcd8;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
}



.dropdown {
  display: inline-block;
color: #fff;
padding: 10px 20px;
font-size: 1em;
border-radius: 5px;
cursor: pointer;

}

.dropdown-content {
display: none;
position: absolute;
top: 51px; /* Offset slightly below the dropdown button */
left: 5px;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(255, 252, 252, 0.2);
z-index: 1;
border-radius: 5px;

}

.dropdown-content a {
  color: rgb(249, 246, 246);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.scroll-container {
  background-color: #ecbcd8;
  overflow: auto;
  white-space: nowrap;   
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


.scroll-container img {
  padding: 10px;
}
.p1 {
  font-family: myFont;
  font-size: 3em;
  color: #954462;
  margin-bottom: 10px;
}

.p2 {
  font-family: secFont;
  font-size: 1.5em;
  color: #954462;
}

.card-container {
  display: flex;
  gap: 20px; /* Space between the cards */
 
}

.card-2 {
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  flex: 1; /* Make the cards take equal space */
  transition: box-shadow 0.3s;
  margin-top: 5px;
  margin-bottom: 50px;
 
}

.section {
  flex: 1;
  text-align: center;
}

.section-2 {
  flex: 1;
  text-align: left;
}

.section h2 {
  margin-bottom: 10px;
  font-size: 1em;
}

/* visited link */
a:visited {
  color: rgb(188, 11, 93);
}

/* mouse over link */
a:hover {
  color: rgb(232, 98, 123);
}

/* selected link */
a:active {
  color: rgb(62, 65, 63);
}
   
/* Footer Styling */
.footer {
  position: relative;
  width: 100%;
  background: #ebaec9;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  mix-blend-mode: multiply;
  background: none;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  box-shadow: none;
  background: none;
  color: #e97084;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  background: none;
  mix-blend-mode: multiply;
}

.social-icon__link:hover {
  text-decoration: none; /* Optional: Keep the appearance clean on hover */
  box-shadow: none; /* Removes shadow on hover */
  background: none; 
  transform: translateY(-10px);
  mix-blend-mode: multiply;
}

.menu__link {
  font-size: 1.2rem;
  color: #871313e0;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 0.5;
}

.footer p {
  color: #a04444;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}



@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}



/* Responsive layout adjustments */
@media screen and (max-width: 800px) {
  .biodata-container {
    flex-direction: column;
  }
  video {
    width: 100%;
  }
}